/*Add your CSS below!*/

div {
    width: 100px;
    height: 100px;
	display: inline-block;
	margin-left: 5px;
	border-radius: 100%;
	border: 2px solid black;
}

.friend {
    border: 2px dashed #008000;
    margin-bottom: 5px;
}

.family {
    border: 2px dashed #0000FF;
    margin-bottom: 5px;
}

.enemy {
    border: 2px dashed #FF0000;
}
