img {
	display: block;
	height: 100px;
	width: 300px;
	margin: auto;
}

p {
	text-align: center;
	font-family: Garamond, serif;
	font-size: 18px;
}

/*Start adding your CSS below!*/
div {
	height: 50px;
	width: 120px;
	border-color: #6495ED;
	background-color: #BCD2EE;
	border-radius: 5px;	/* Modifying the corners of the HTML element */
	margin: auto;	/* Sets equal margin on all sides of the HTML element */
	text-align: center;	/* Centers the text elements */
}
a {
	text-decoration: none; /* Disabling the text decoration */
	font-family: Verdana;
	color: #3D59AB;
}
span {
	font-weight: bold;	/* Making the text bold */
	color: white;	/* Assigning text color to white */
}
